<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
  <div class="form-group" ng-controller="FormController">
    <form class="form-horizontal">
      <label for="product" class="control-label">Products </label>
      <select class="form-control" id="product" ng-change="selectProduct()" ng-model="product" ng-options="prod.value for prod in products">
        <option value="">Select One</option>
      </select>
    </form>
  </div>
  <pre>{{showProductForm | json}}</pre>
  <pre>{{product | json}}</pre>
</div>
