<div ng-controller="AppCtrl" ng-cloak="">
<p>This demo is a really ugly example of the basic functionality of this module.  Have a look
  through the code and get a feel for how everything works.</p>
<dynamic-form class="col-md-8" template-url="form-template.js" ng-model="urlFormData">
  <dynamic-form class="col-md-12" template="stdFormTemplate" ng-model="stdFormData">
    <legend>template= test</legend>
  </dynamic-form>
  <legend>templateUrl= test</legend>
</dynamic-form>
<div class="col-md-4">
  <div class="fixed col-md-4">
    <pre>stdFormData: {{stdFormData | pretty}}</pre>
    <pre>urlFormData: {{urlFormData | pretty}}</pre>
  </div>
</div>
</div>
